<ion-menu [content]="content">
  <ion-header no-border>
    <ion-toolbar color="darksky">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <p class="subTitles">Movies</p>
    <ion-list>
      <button menuClose ion-item *ngFor="let m of moviepages" (click)="openPage(m)">
        {{m.title}}
      </button>
    </ion-list>
    <p class="subTitles">TV Shows</p>
    <ion-list>
      <button menuClose ion-item *ngFor="let t of tvpages" (click)="openPage(t)">
        {{t.title}}
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
